/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
	overflow-x:hidden;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    UNIVERSAL
\*------------------------------------*/
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:100%;
	width:100%;
	margin:0 auto;
	position:relative;
}
/* header */
.header {
	background-image: url('img/bg-header.png');
	background-size: cover;
	height: 265px;
}

/* sidebar */
.sidebar {

}
/* footer */
.footer {
	background-color: #3e3d3d;
	color:#fff;
}
.footer-wrapper {
	width: 84%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.footer p {
	font-family: 'DIN';
	font-weight: bold;
	color:#fff;
	font-size: 10px;
}
.btn-contactus {
	font-family: 'DIN';
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0em;
	background-color: rgba(83, 108, 253, 0.15);
	border-color:transparent;
	border-radius: 15px;
	text-transform: uppercase;
	color:#fff;
	padding: 8px 0;
	width: 105px;
	text-align: center;
	margin-top: 3px;
}
img.footer-logo {
	height: 50px;
	margin-top: 10px;
	margin-right: 24px;
	float: left;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
.top-bar {
	overflow: hidden;
}
.contain-header {
	background-color: #D43131 !important;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.wrapper-header {
	width: 84%;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 16px;
}
.logo {
	float: left;
	width: 40%;
}
.logo-img {
	height: 36px;
}
.nav {
	float: left;
	width: 60%;
	padding-top: 10px;
	text-align: right;
}
.nav ul#menu-main-menu {
	text-align: right;
	display: inline-block;
}

.nav ul#signin-link {
	display: inline-block;
	text-align: right;
	margin-left: 40px;
}
.nav ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}
.nav ul li:last-child {
	margin-right: 0;
}
.nav ul li a {
	font-family: 'DIN';
	font-weight: bold;
	text-transform: uppercase;
	color:rgba(255, 255, 255, 0.85);
	font-size: 11px;
}
.nav .btn-signin {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 15px;
	text-transform: uppercase;
		font-family: 'DIN';
	font-weight: bold;
	color:rgba(255, 255, 255, 0.85);
	width: 84px;
	padding: 4px 0 5px;
	margin-top: -4px;
}
.nav .btn-signin:hover {
	background-color: #fff;
	color:#cb3031;
	border-color:#fff;
}

.text-header {
	padding-top: 88px;
	width: 84%;
	margin:0 auto;
	color:#fff;
}
.text-header h2 {
	font-size: 24px;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
}
.text-header p {
	font-family: 'DIN';
	font-weight: bold;
	font-size: 11px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 20px;
}
.btn-getstarted-sm {
	font-family: 'DIN';
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.02em;
	background-color: #536cfd;
	border: 1px solid #536cfd;
	border-radius: 15px;
	text-transform: uppercase;
	color:#fff;
	padding: 8px 0;
	width: 130px;
	text-align: center;
}
#robot {
}
#text-underline {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/*------------------------------------*\
    SLIDER
\*------------------------------------*/
.slider-visual {
	position: relative;
}
.slider-overlay {
	position: absolute;
	right:0;
	bottom:0;
	width: 440px;
	padding: 0px 20px 40px;
	background-color: rgba(62, 62, 62, 0.98);
	color:#fff;
}
.slider-overlay h2 {
	font-size: 23px;
	letter-spacing: 0.04em;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	line-height: 1.3em;
}
.slider-quote {
	position: relative;
	padding: 20px 0;
	background-color: #dedee3;
}
.slider-quote::after {
	content: url('img/tri-north.png');
	position: absolute;
	z-index: 9;
	right:50px;
	top:-12px;
}
.slider-quote h3 {
	position:relative;
	z-index: 99;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color:#404042;
	line-height: 1.9em;
}
/*.slider-quote h3:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 40px;
    position: absolute;
    left: -15px;
    top: 5px;
    color: #000;
}*/
/*------------------------------------*\
    SPOTLIGHT
\*------------------------------------*/
.spotlight {
	overflow: hidden;
	background-color: #f2f4f5;
	padding:30px 2% 30px 8%;
}
.spotlight-solutions {
	float: left;
	width: 35%;
	text-align: center;
}
.spotlight-solutions h4 {
		font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.05em;
	color:#000;
}
.spotlight-solutions h5 {
		font-family: 'DIN';
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color:#000;
	max-width: 120px;
	margin:5px auto;
}
.spotlight-solutions img {
	height: 24px;
}
.spotlight-solutions ul li {
	width: 200px;
	height: 78px;
	margin: 0 auto 10px;
	padding: 15px 10px 5px;
	background-color: #fff;
	border:1px solid #dedee3;
	border-radius: 5px;
	text-transform: uppercase;
	color:#000;
}
.greenBg {
	background-color: #01c853 !important;
}
.spotlight-solutions ul li:hover {
	cursor: pointer;
	border:1px solid #01c853;
	background-color: #01c853;
	color:#fff;
}
.spotlight-features {
	float: left;
	width: 65%;
	padding-top: 30px;
	display: none;
}
.screen-box {
	float: right;
	width: 65%;
	text-align: center;
}
.screen-box h3 {
	font-family: 'DIN';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000;
    margin-top: 15px;
}
.screen-box img {
	width: 70%;
	margin: 0 auto 15px;
}
.screen-box p{
	font-family: 'DIN';
	font-weight: normal;
	font-size:16px;
	color:#000;
	line-height: 1.4em;
	margin-top: 0px;
	text-align: left;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 10px;
}
.featured-spot {
    overflow: hidden;
    width: 440px;
    margin: 0 auto 10px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #dedee3;
    border-radius: 10px;
}
.featured-spot img {
	float: left;
	height: 90px;
	margin-right: 25px;
	border: 2px solid #baf0d0;
	border-radius: 50%;
}
.featured-spot h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color:rgba(0, 0, 0, 0.7);
}
.featured-spot p {
		font-family: 'DIN';
	font-weight: bold;
	font-size:11px;
	letter-spacing: 0.01em;
	color:rgba(0, 0, 0, 0.7);
	line-height: 1.7em;
	max-width:90%;
	margin-top: 0px;
}
.btn-visit {
	font-family: 'DIN';
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	background-color: transparent;
	border: 2px solid #5adb8f;
	border-radius:15px;
	text-transform: uppercase;
	color:#01c853;
	padding: 5px;
	width: 150px;
}
.btn-visit:hover {
	background-color: #fff;
	border-color: #01c853;
	color:#01c853;
}
.featured-spot:first-child {
	background-color: #01c853;
	border-color:#01c853;
	color:#fff;
}
.featured-spot:first-child h4, 
.featured-spot:first-child p {
	color:#fff;
}
.featured-spot:first-child img {
	border: 0;
}
.featured-spot:first-child .btn-visit {
	color:#fff;
}
.featured-spot:first-child .btn-visit:hover {
	color:#01c853;
}
/*------------------------------------*\
	HERO
\*------------------------------------*/
#hero {
	max-height: 478px;
}
.hero-visual img {
	max-height: 500px;
	width: 100%;
}
.hero-visual {
	position: relative;
}
.hero-overlay {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width: 48%;
	padding: 5% 5%;
	background-color: rgba(62, 62, 62, 0.9);
	color:#fff;
}
.hero-overlay h2 {
	font-size: 26px;
		font-family: 'Roboto Slab', serif;
	font-weight: 700;
	letter-spacing: 0.02em;
}
.hero-overlay p {
	font-size: 14px;
	letter-spacing: 0.02em;	
	font-family: 'DIN';
	font-weight: bold;
	color:#fff;
	max-width:60%;
	line-height: 1.5em;
	margin-bottom: 5px;
}
.hero-overlay button {
	margin-top: 20px;
	border-radius: 30px !important;
	width:200px !important;
	padding: 20px 0 !important;
} 

/*------------------------------------*\
	PRICING
\*------------------------------------*/
#pricing {
	width: 100%;
	height: 530px;	
	background-image: url('img/green-fade.png');
	background-size: cover;
	text-align: center;
	padding-top: 30px;
}
.pricing-header {
	width: 50%;
	margin: 0 auto;
}
#pricing h2 {
	font-size: 25px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color:#fff;
    text-align: center;
}
#pricing p {
	font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color:#fff;
    text-align: center;
    width: 70%;
    margin:0 auto;
}
.pricing-plans {
	padding-top: 20px;
	overflow: hidden;
	width:85%;
	margin: 0 auto;
}
.monthly-plan {
	background-color: #fff;
	border-radius: 5px;
	color:#253bbd;
	width: 59%;
	padding-top: 10px;
	padding-bottom: 15px;
	display: inline-block;
	vertical-align: middle;
}
.monthly-plan h3 {
	text-transform: uppercase;
	font-family: 'DIN';
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.025em;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(222, 222, 227, 0.5);
}
.monthly-plan h3 span.thin-font {
	font-weight: 300;
	color:#88a0b9;
}
.monthly-plan h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 44px;
	letter-spacing: 0.035em;
	margin: 0 auto;
}
.monthly-plan h4 span.tiny-font {
	font-size: 11px;
	font-weight: 400;
	padding-bottom: 20px;
}
.monthly-plan p {
	color:#88a0b9 !important;
	font-family: 'DIN' !important;
	font-weight: normal !important;
	font-size: 11px !important;
	letter-spacing: 0.025em !important;
}
.monthly-plan ul {
	padding-top: 0;
	padding-bottom: 5px;
	width: 65%;
	margin:0 auto;
}
.monthly-plan ul li {
	text-align: left;
	margin: 15px;
	font-family: 'DIN';
	font-weight: normal;
	font-size: 15px;
	color:#253bbd;
	letter-spacing: 0.025em;
}
.monthly-plan ul li img {
	width: 15px;
	margin-right: 5px;
}
.monthly-plan a button {
	font-family: 'DIN';
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.02em;
    background-color: #536cfd;
    border: 1px solid #536cfd;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 0;
    width: 90%;
    text-align: center;
}
.enterprise-plan {
	background-color: #414040;
	border-radius: 5px;
	color:#fff;
	width: 39%;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 15px;
	margin-left: -3px;
}
.enterprise-plan h3 {
	text-transform: uppercase;
	font-family: 'DIN';
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.025em;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(222, 222, 227, 0.12);
}
.enterprise-plan p {
	color:#fff !important;
	font-family: 'DIN' !important;
	font-weight: normal !important;
	font-size: 11px !important;
	letter-spacing: 0.025em !important;
}
.enterprise-plan a button {
	font-family: 'DIN';
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.02em;
    background-color: #272626;
    border: 1px solid rgba(219, 221, 241, 0.4);
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 0;
    width: 90%;
    text-align: center;
    margin-top: 15px;
}
.enterprise-plan ul {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}
.enterprise-plan ul li {
	display: inline-block;
	vertical-align: top;
	font-family: 'DIN';
	font-weight: bold;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 11px;
	color:#6ed068;
}
.enterprise-plan ul li img {
	height: 30px;
	margin-bottom: 10px;
}
.enterprise-plan ul li:first-child {
	margin-right: 10px;
}
.enterprise-plan ul li:last-child {
	margin-left: 10px;
}
/*------------------------------------*\
	CLOSER
\*------------------------------------*/
#closer {
	overflow: hidden;
	background-color: #f2f4f5;
}
.closer-section {
	overflow: hidden;
	width: 84%;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom:100px;
}
.closer-title {
	padding-left: 5%;
	padding-bottom: 60px;
	width: 65%;
	float: left;
}
.closer-quote {
	float: left;
	width: 35%;
	padding-top: 50px;
	text-align: center;
}
.closer-quote img{
	height:80px;
	margin-left: 50px;
}
.quote-bubble {
	background-color: #dedee3;
	border-radius: 10px;
	width: 370px;
	margin: 25px 0 0;
	padding: 10px 20px 5px;
	position: relative;
}
.quote-bubble::after {
	content: url('img/tri-north.png');
	position: absolute;
	z-index: 9;
	left:35px;
	top:-15px;
}
.quote-bubble h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.8em;
	letter-spacing: 0.01em;
	text-align: left;
	margin: 15px 10px;
	position: relative;
	z-index: 99;
}
.closer-title h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color:#232323;
	font-size: 42px;
	letter-spacing: 0.05em;
	line-height: 1.25em;
}
.spotlight-square {
	overflow:hidden;
	float: left;
	width: 44%;
	height: 160px;
	margin-right:3%;
	margin-left: 3%;
	margin-bottom: 30px;
	padding: 25px;
	background-color: #fff;
	border:1px solid #dedee3;
	border-radius: 10px;
}
.spotlight-square img {
	float: left;
	max-height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align:center;
}
.spotlight-square h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	color:#323232;
	max-width: 80%;
	text-align: left;
}
.spotlight-square p {
		font-family: 'DIN';
	font-weight: normal;
	font-size:13px;
	letter-spacing: 0.02em;
	color:#323232;
	line-height: 1.4em;
	max-width:90%;
	margin-top: 0px;
	text-align: left;
}
.spotlight-square.free-demo {
	text-align: center;
}
.spotlight-square h5 {
			font-family: 'DIN';
	font-weight: bold;
	font-size:18px;
	letter-spacing: 0.02em;
	color:rgba(0, 0, 0, 0.7);
	margin-top: 0px;
	margin-bottom: 12px;
	text-align: center;
}
.btn-getstarted-med {
	display: block;
	font-family: 'DIN';
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.02em;
	background-color: #536cfd;
	border: 1px solid #536cfd;
	border-radius: 15px;
	text-transform: uppercase;
	color:#fff;
	padding: 8px 0;
	width: 230px;
	text-align: center;
	margin: 0 auto;
}
#red {
	color:#d32f2f;
	border-bottom: 2px solid #de7474;
}
.test-slider.slick-slider {
	height: 100% !important;
}
.test-slider.slick-slider .slick-track {
	height: 100% !important;
}
/*------------------------------------*\
	FOOTER
\*------------------------------------*/
.footer {
	position: relative;
	padding-bottom: 20px;
}
.footer-contact {
	position: absolute;
	right:135px;
	top:-34px;
	background-color: #141414;
	border-radius: 8px;
}
.top-box {
	padding: 15px;
	color:#fff;
	
}
.top-box input.email-input {
	height: 30px;
	width: 170px;
	border:0;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
}
.top-box input.email-go {
	height: 30px;
	width: 50px;
	border:0;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	background-color: #536cfd;
	color:#fff;
	text-transform: uppercase;
	font-family: 'DIN';
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.02em;
	margin-left: -5px;
}
.top-box h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
    max-width: 80%;
    text-align: left;
}

.bottom-box {
	padding: 15px;
	background-color: #343434;
	color:#fff;
}
.bottom-box a {
	color:#fff;
	text-transform: uppercase;
		font-family: 'DIN';
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.01em;
}

/*------------------------------------*\
	POPUP MODAL
\*------------------------------------*/
	.modal-box {
	  display: none;
	  position: fixed;
	  z-index: 1000;
	  margin: auto;
	  width: 70%;
	  height: 500px;
	  border-bottom: 1px solid #aaa;
	  border-radius: 4px;
	  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	  border: 1px solid rgba(0, 0, 0, 0.1);
	  background-clip: padding-box;
	  background-color: #fff;
	}

	.modal-box header,
	.modal-box .modal-header {
	  padding: 1.25em 1.5em;
	  border-bottom: 1px solid #ddd;
	}

	.modal-overlay {
	  opacity: 0;
	  filter: alpha(opacity=0);
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 900;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.3) !important;
	}

	a.close {
	  line-height: 1;
	  font-size: 1.5em;
	  position: absolute;
	  top: 5%;
	  right: 2%;
	  text-decoration: none;
	  color: #bbb;
	}

	a.close:hover {
	  color: #222;
	  -webkit-transition: color 1s ease;
	  -moz-transition: color 1s ease;
	  transition: color 1s ease;
	}
	button.clickme {
		margin-top: 7px;
		margin-bottom: 18px;
	}
	#popup {
		overflow: hidden;
	}
	.popup-left {
		float: left;
		width: 50%;
		height:600px;
		background-color: #d32f2f;
		padding: 30px;
	}
	img.popup-logo {
		height: 28px;
	}
	.popup-left h2 {
		font-family: 'Roboto Slab', serif;
	    font-weight: 300;
	    color: #232323;
	    font-size: 28px;
	    letter-spacing: 0.05em;
	    line-height: 1.25em;
	}
	.popup-left p {
		font-family: 'Roboto Slab', serif;
	    font-weight: 300;
	   	color:#fff;
	    font-size: 14px;
	    letter-spacing: 0.05em;
	    line-height: 1.25em;
	}
	.popup-left ul {
		padding-left: 10px;
	}
	.popup-left ul li {
		font-family: 'Roboto Slab', serif;
	    font-weight: 300;
	   	color:#fff;
	    font-size: 14px;
	    letter-spacing: 0.05em;
	    line-height: 1.25em;
	    list-style-type: disc;
	    margin-bottom:5px;
	}
	.popup-right {
		float: left;
		width: 50%;
		height: 600px;
		background-color: #fff;
	}
	.contact-form-header {
		background-color: #3e3c3d;
		padding: 10px 20px;
	}
	.contact-form-header h3 {
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 0;
		font-family: 'DIN';
	    font-weight: 400;
	    font-size: 21px;
	    text-transform: uppercase;
	    letter-spacing: 0.05em;
	    color: #fff;
	}
	.contact-form-header p {
		font-family: 'Roboto Slab', serif;
    	font-weight: 400;
    	color: #fff;
    	font-size: 11px;
    	letter-spacing: 0.05em;
    	line-height: 1.25em;
	}
	.contact-form {
		padding: 20px;
	}
	.contact-form input {
		height: 30px;
	    width:100%;
	    border: 1px solid #e6e6e6;
	    border-radius: 3px;
	}
	.contact-form label {
		font-family: 'Roboto Slab', serif;
    	font-weight: 400;
    	color:#3e3c3d;
    	font-size: 11px;
    	letter-spacing: 0.05em;
    	line-height: 1.25em;
    	margin-top:5px;
	}
	input.wpcf7-form-control.wpcf7-submit {
		font-family: 'DIN';
		font-weight: bold;
		font-size: 11px;
		letter-spacing: 0.02em;
		background-color: #01c853;
		border: 1px solid #01c853;
		border-radius: 15px;
		text-transform: uppercase;
		color:#fff;
		padding: 8px 0;
		width: 150px;
		text-align: center;
	}



/*------------------------------------*\
	RESPONSIVE MENU
\*------------------------------------*/
button#responsive-menu-button {
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	outline:none;
}
button#responsive-menu-button:hover {
	background-color: #fff;
}
button#responsive-menu-button:hover span.responsive-menu-box > span.responsive-menu-inner,
button#responsive-menu-button:hover span.responsive-menu-box > span.responsive-menu-inner::before,
button#responsive-menu-button:hover span.responsive-menu-box > span.responsive-menu-inner::after {
	background-color:#cb3031 !important;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:320px) {

}
@media only screen and (max-width:640px) {
	.wrapper-header {
		width: 94%;
	}
	.logo {
		width: 50%;
	}
	.text-header {
		padding-top: 60px;
	}
	.text-header h2 {
		font-size: 20px;
	}
	.slider-overlay {
		width: 100%;
		height: 100%;
		padding: 0px 20px 20px;
		background-color: rgba(62, 62, 62, 0.68);
	}
	.slider-overlay a {
		display: none;
	}
	.slider-overlay h2 {
		font-size: 24px;
		text-align: center;
	}
	.slider-container.slick-initialized.slick-slider {
		height: 300px !important;
	}
	.slider-container.slick-slider {
		height: 300px !important;
	}
	.slider-visual {
		background-size: cover;
		height: 300px ;
		width: 100%;
	}
	.slider-quote::after {
		right:0;
		left:0;
		text-align: center;
	}
	.slider-quote h3 {
		width: 90%;
		font-size: 13px;
	}
	.spotlight {
		padding: 10px 0;
	}
	.spotlight-solutions {
		float: none;
		width: 100%;
		margin-right: auto;
	}
	.spotlight-solutions h4 {
		text-transform: uppercase;
		font-size: 13px;
	}
	.spotlight-features {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.screen-box {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.screen-box p {
		text-align: center;
		width: 85%;
	}
	.closer-quote img {
		margin-right:auto;
	}
	.quote-bubble {
		margin-left: auto;
		margin-right: auto;
	}
	.featured-spot {
		width: 100%;
		border-radius:5px;
		padding: 20px
	}
	.featured-spot p {
		max-width: 100%;
	}
	.featured-spot img {
		margin-bottom: 20px;
	}
	.btn-visit {
		width: 100%;
		font-size: 10px;
	}
	.hero-overlay {
		width: 100%;
		background-color: rgba(62, 62, 62, 0.6);
		padding: 10px 15px;
	}
	.hero-overlay h2 {
		font-size: 20px;
		text-align: center;
		margin-top: 0;
	}
	.hero-overlay p {
		max-width: 95%;
		text-align: center;
		margin: 0 auto;
	}
	.hero-overlay a {
		display: none;
	}
	.closer-title {
		width: 90%;
		float: none;
		padding-top: 10px;
		padding-left: 0;
		padding-bottom: 10px;
		margin: 0 auto;
	}
	.closer-title h1 {
		font-size: 26px;
		text-align: center;
	}
	.closer-quote {
		width: 90%;
		float: none;
		padding: 0;
		margin: 0 auto;
	}
	.closer-quote img {
		margin-left: auto;
	}
	.quote-bubble::after {
		right:0;
		left:0;
		text-align: center;
	}
	.spotlight-square {
		float: none;
		width: 100%;
		margin: 0 auto 10px;
		text-align: center;
		padding: 0 25px;
	}
	.spotlight-square img {
		float: none;
		margin: 0 auto;
	}
	.spotlight-square h4 {
		text-align: center;
		max-width: 100%;
		font-size: 14px;
	}
	.spotlight-square p {
		text-align: center;
		max-width: 100%;
		font-weight: normal;
	}
	.spotlight-square h5 {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	#pricing {
		height: auto;
	}
	.pricing-header {
		width: 100%;
	}
	#pricing p {
		width: 95%;
	}
	.pricing-plans {
		width: 95%;
	}
	.pricing-plans > div {
		width: 100%;
		float: none;
		margin-bottom: 10px;
		margin-left: 0;
	}
	.monthly-plan ul {
		width: 80%;
	}
	.contact-box {
		display: none;
	}
	#popup {
		left: 10px !important;
	}
	img.popup-logo {
		display: none;
	}
	.popup-left,
	.popup-right {
	    float: none;
	    width: 100%;
	    height: auto; 
	}
	.popup-left {
		display: none;
	}
	.popup-left h2 {
		font-size: 16px;
		padding: 15px;
		margin-top: 0;
		padding-top: 0;
	}
	.modal-box {
		width: 95%;
		height: auto;
	}
	.contact-form {
		padding: 0 20px;
	}
	.contact-form-header {
		padding: 5px 15px;
	}
		.spotlight-solutions ul li {
		width: 50%;
		float: left;
	}
	.spotlight-solutions h4 {
		margin-top: 3px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width:468px) {
	    body {
            overflow-x:hidden;
          overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
    }
}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
